[Desktop Entry]
Version=2.0.2+23
Name=ICD Offline Database
GenericName=ICD Offline Database
Comment=ICD Offline Database is a free and open-source application that allows users to search through the entire ICD-10 and ICD-9 databases of codes.
Terminal=false
Type=Application
Categories=Utility;
Keywords=ICD,ICD10,ICD9;
Icon=${SNAP}/meta/gui/app.rayadams.icdofflinedb.png
Exec=icdofflinedb
StartupWMClass=icdofflinedb
